@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,400;0,700;0,900;1,300&family=Satisfy&display=swap');
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 0 40px;
    background-color: #ffffff;
}
.right-header {
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo {
    font-family: 'Satisfy', cursive;
    color: #c0ac9c;
    font-size: 35px;
}
.right-header a {
    text-decoration: none;
    color: #c0ac9c;
    font-weight: bold;
    font-size: 20px;
}
.right-header button {
    background-color: #c0ac9c;
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
/* hero */
.main {
    background-image: url("images/background-resize.png");
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    display: flex;
    height: 100vh;
}
.header-block {
    display: flex;
    flex-direction: column;
    /* padding: 50px; */
    margin-left: 100px;
    margin-top: 80px;
    gap: 18px;
    width: 400px;
}
.input-block {
    display: flex;
    flex-direction: column;
}
.input-header {
    color: #80644d;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
}
.input-text {
    color: #6a482b;
    font-size: 18px;
    margin-bottom: 10px;
}
.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #c0ac9c;
    height: auto;
    padding: 30px 50px 50px 50px;
    margin-top: 10px;
    border-radius: 20px;
}
.input-block input {
    /* display: flex; */
    /* flex-direction: column; */
    color: #6a482b;
    background-color: rgb(255, 248, 231);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 14px 18px;
    /* gap: 10px; */
    /* justify-content: center; */
    /* align-items: center; */
}
.heading {
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    font-weight: bold;
    color: #80644d;
}
.subheading {
    font-size: 20px;
    color: #6a482b;
}
.image-source-main {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
}
.image-source-main a {
    text-decoration: underline;
    color: black;
}
.contact-button button {
    background-color: #c0ac9c;
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}